html *{
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    padding: 10px;
}

th{
    width: 20%;
}
.items {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(118, 168, 211);
    border-width: 1px;
    height: 200px;
}

.image {
    width: 40%;
}

.item-image {
    width: auto;
    object-fit: contain;
    height: 160px;
    margin: 10px;
}

.gap-10 {
    margin-top: 10px;
}

.gap-40 {
    margin-top:40px;
}

.text {
    margin-top: 30px;
    width: 40%;
    text-align: left;
    height: 100%
}

.empty {
    width: 20%;
    margin: auto;
}

.input {
    width: 62px;
}

.form-test {
    width: 80%;
}




/* Dropdown Button */
.dropbtn {
    background-color: #4e4caf;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #9d9b9b;}